<!--views/site/about.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>About <i>Daily Planet</i></h1>
<p><i>Daily Planet</i> is one of Metropolis's oldest and most respected newspapers. All our reports are regular, mild-mannered people without crazy secrets.</p>
<br><br><br>
<a href="/">Home</a>
<br>
<a href="/articles">News</a>
<br>
<a href="/authors">Reporters</a>
<br>
<a href="/users/login">Log In</a>
<br>
<a href="/contact">Contact</a>
</body>
</html>


