<!--views/site/contact.ejs-->
<!DOCTYPE HTML>
<html>
<body>
	<h1>Contact <i>Daily Planet</i></h1>
	<div>
		Bruce Wayne, <i>Owner</i>
		<br>bwayne@dailyplanet.com
	</div>
	<br>
	<div>
		Perry White, <i>Editor-in-Chief</i>
		<br>pwhite@dailyplanet.com
	</div>
	<br>
	<div>
		Lana Lang, <i>Business Editor</i>
		<br>llang@dailyplanet.com
	</div>
	<br>
	<div>
		Lois Lane, <i>Reporter</i>
		<br>llane@dailyplanet.com
	</div>
	<br>
	<div>
		Clark Kent, <i>Reporter</i>
		<br>ckent@dailyplanet.com
	</div>
	<br>
	<div>
		Jimmy Olsen, <i>Photographer</i>
		<br>jolsen@dailyplanet.com
	</div>
	<br><br><br>
	<a href="/">Home</a>
	<br>
	<a href="/articles">News</a>
	<br>
	<a href="/authors">Reporters</a>
	<br>
	<a href="/about">About</a>
</body>
</html>


