<!--views/site/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1><i>Daily Planet</i></h1>
<h3>Straight from the Source</h3>
<br>
<a href="/articles">Read the hard-hitting news</a>
<br><br><br>
<a href="/authors">Reporters</a>
<br>
<a href="/about">About</a>
<br>
<a href="/contact">Contact</a>
</body>
</html>
