<!DOCTYPE html>
<html>
<head>
</head>
<body>
  Welcome, <%= user.email %>!

  <br><br><br>
  <a href="/">Home</a>
  <br>
  <a href="/articles">News</a>
  <br>
  <a href="/authors">Reporters</a>
  <br>
  <a href="/about">About</a>
  <br>
  <a href="/contact">Contact</a>
</body>
</html>  