<form method="post" action="/signup">
  <div>
    <input type="text" name="user[email]" placeholder="Email">
  </div>
  <div>
    <input type="text" name="user[password]" placeholder="Password">
  </div>
  <br>
  <button>Sign Up</button>
  <br><br>
  <div>Already have an account? <a href="/users/login">Log in here!</a></div>
  <br><br><br>
  <a href="/">Home</a>
  <br>
  <a href="/articles">News</a>
  <br>
  <a href="/authors">Reporters</a>
  <br>
  <a href="/about">About</a>
  <br>
  <a href="/contact">Contact</a>
</form>