<!--views/authors/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Add an author</h1>
    <form method="post" action="/authors">
      <input type="text" name="author[first_name]" placeholder="First Name"><br />
      <br>
      <input type="text" name="author[last_name]" placeholder="Last Name">
      <br />
      <br />
      <button>Save </button>
    </form>
    <br><br><br>
  <a href="/">Home</a>
  <br>
  <a href="/articles">News</a>
  <br>
  <a href="/authors">Reporters</a>
  <br>
  <a href="/about">About</a>
  <br>
  <a href="/contact">Contact</a>
  </body>
</html>
